
    <div class="skycom-12 alpha">
      <h2>{{title}}</h2>

      {{#each company}}
        <strong>
          <span class="intro larger skycom-12"><a href="{{url}}" target="_blank">{{name}}</a>, {{location}}</span>
          <p class="smaller skycom-3 alpha">{{date}}</p>
          <p class="smaller skycom-9">{{role}}</p>
        </strong>
        <p class="alpha">{{description}}</p>
        {{#each projects}}
          {{#if this.detail}}
          <ul class="bullet skycom-12">
            {{#each this.detail}}
              <li>
                {{this.contents}}
              </li>
            {{/each}}
          </ul>
          {{/if}}
          {{#if this.achievements}}
            <strong>
          <span class="smaller skycom-4">Key Achievements</span>
          </strong>
          <ul class="bullet skycom-12">
            {{#each this.achievements}}
              <li>
                {{this.contents}}
                {{#each this.sub}}   
                <ul class="bullet-sub skycom-12">  
                <li>    
                  {{this.list}}
                </li>
                </ul>
                {{/each}}
              </li>
            {{/each}}
          </ul>
          {{/if}}
        {{/each}}
      {{/each}}
    </div>
    <h3>Historical Employment</h3>
    {{#each past-company}}
    <strong>
      <span class="smaller skycom-4"><a href="{{url}}" target="_blank">{{name}}</a>, {{location}}</span>
      <span class="smaller skycom-4">{{date}}</span>
      <span class="smaller skycom-4">{{role}}</span>
    </strong>
    {{/each}}
